.AppUI {
    display: flex;
    align-content: center;
    justify-content: center;
}

.AppUI-container--title {
    display: flex;
    align-items: center;
    padding: 62px 0 12px 0; 
}
.AppUI-container--title img {
    width: 58px;
    height: 58px;
    margin-left: 14px;
}
.AppUI-container h1 {
    color: #2471A3;
}
@media screen and (min-width: 300px) and (max-width: 913px) {
    .AppUI-container {
        width: 80%;
    } 
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .AppUI-container--title {
        flex-direction: column;
        padding-top: 12px;
    }
    .AppUI-container--title img {
        margin-left: unset;
        width: 56px;
        height: 56px;
        padding: 0;
    }
    .AppUI-container--title h1 {
        padding-top: 14px;
        padding-bottom: 4px;
        margin: 0;
    }
}