.Remove {
    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#8360c3,#2ebf91); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Remove-container {
    width: 240px;
    height: 100px;
    border: solid 2px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Remove-container--cancel {
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    color: #202329;
    font-weight: 400; 
    width: 40%;
    height: 38px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 4px;
}

.Remove-container--delete {
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    color: #202329;
    font-weight: 400; 
    width: 40%;
    height: 38px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 4px;
    background: #d7786d;
}