.CreateTodoButton-container {
  display: flex;
  align-items: center;
  margin: 16px 0 16px 0;
}

.CreateTodoButton-container--loading {
  opacity: 25%;  
}

.CreateTodoButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 52px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 32px;
  font-weight: bold;
  margin-left: 12px;
}

.CreateTodoButton img {
  width: inherit;
  height: inherit;
  background: transparent;
}

.CreateTodoButton:hover {
  transform: rotate(180deg);
  transition: .3s ease;
}


