.CreateTodoButton-container {
  display: flex;
  align-items: center;
  margin: 16px 0 16px 0;
}

.CreateTodoButton-container--loading {
  opacity: 25%; 
}

.CreateTodoButton {
  background: #2471A3;
  /* box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5); */
  border: none;
  border-radius: 50%; 
  cursor: pointer;
  font-size: 32px;
  font-weight: bold;
  color: #FAFAFA;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 38px;
  transform: rotate(0);
  transition: .3s ease;
  margin-left: 16px;
}

.CreateTodoButton:hover {
  transform: rotate(224deg);
}
