.TodoItem {
  background-color: #5499C7;
  position: relative;   
  display: flex;
  margin-top: 12px;
  justify-content: center; 
  justify-items: center;
  align-items: center;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
  border-radius: 16px;
}

.TodoItem-complete_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 34px; 
}

.TodoItem-text {
  width: calc(100% - 50px); 
  font-size: 18px;
  font-weight: bold;
  font-size: 12px;
  padding-right: 32px;
  padding-left: 8px;
}
.TodoItem-p {
  margin-right: 32px;
  width: calc(100% - 50px); 
}

.TodoItem-p--complete {
  text-decoration: line-through;
}

.TodoItem-remove_edit {
  display: flex;
  align-items: center;
}
