.Icon-container { 
    cursor: pointer;
    display: flex;
    justify-content: center;  
    align-items: center;
    height: 48px;
    width: 46px;
    /* background-color: #CCC; */
  }
  .Icon-container--check {
    position: absolute;
    left: 2px;
  }
  .Icon-container--delete {
    position: absolute; 
    /* top: -24px; */
    right: -2px;
  } 

  .Icon-container--edit {
    position: absolute;
    /* top: -24px; */
    right: 22px;
  }
  
  .Icon-svg {
    width: 18px;
    height: 18px;
    transition: fill .15s; 
  }
  .Icon-container:hover .Icon-svg--check {
    fill: gray;
  }
  .Icon-container:hover .Icon-svg--delete {
    fill: #CD6155;
  }
  .Icon-container:hover .Icon-svg--edit {
    fill: #707B7C;
  }


  