.Icon-container { 
    cursor: pointer;
    display: flex;
    justify-content: center;  
    align-items: center;
    height: 28px;
    width: 28px;
    margin-right: 6px;
    /* background-color: #CCC; */
  }
  .Icon-container--check {
    position: absolute;
    margin-left: 8px;
  }
  .Icon-container--delete {
    position: absolute; 
    right: 2px;
  } 

  .Icon-container--edit {
    position: absolute; 
    right: 38px;
  }
  
  .Icon-svg { 
    width: 22px;
    height: 22px;
    transition: fill .15s; 
  }
  .Icon-container:hover .Icon-svg--check {
    fill: rgb(173, 160, 160);
  }
  .Icon-container:hover .Icon-svg--delete {
    fill: #CD6155;
  }
  .Icon-container:hover .Icon-svg--edit {
    fill: #707B7C; 
  }


  