.AppUI {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.AppUI-container {
    width: 100%;
}

.AppUI h1{
    margin: 0;
    padding-top: 36px;
    font-weight: 250;
  }
  

@media only screen and (min-width: 1200px ) {
    .AppUI-container {
        width: 50%;
    }
}